.container {
  text-align: center;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.grid-child {
  border: 1px solid rgb(127, 122, 122);
}

.search {
  padding: 7px 14px;
  margin-bottom: 25px;
}
