* {
  all: none;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 200px;
}
.error {
  color: red;
}
