* {
  padding: 0%;
  margin: 0%;
}

h1 {
  color: rgb(18, 54, 91);
}

.show {
  display: flex;
  flex-direction: column;
  color: rgb(18, 54, 91);
  font-size: larger;
  margin: 40px;
}

button {
  padding: 10px 20px;
  background-color: rgb(18, 54, 91);
  color: rgb(200, 216, 218);
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  margin-top: 50px;
}
